extends ./layout.pug

block content
  .container-fluid
    .row.no-gutters.h-100
      main.col-md-12.mx-auto.h-100.bg-light
        .row.h-100
          .col-md-8.my-auto.mx-auto
            form.form-signin
              .text-center.mb-4
                h1.h3.mb-3.font-weight-normal Log into Doggy
              .form-label-group
                input#email.form-control(type='email' placeholder='Email address' required='' autofocus='')
                label(for='email') Email address
              .form-label-group
                input#password.form-control(type='password' placeholder='Password' required='')
                label(for='password') Password
              .checkbox.mb-3
                label
                  input(type='checkbox' value='remember-me')
                  |  Remember me
              button.btn.btn-lg.btn-primary.btn-block(type='submit') Login